.community-section {
  background: #FFFFFF;
  color: #666666;
}

.community-section .app-title {
  color: #464547;
  margin-top: 90px;
}

.community-section .app-subtitle {
  margin-top: 40px;
}

.community-section__container {
  width: 80%;
  margin: 60px 110px;
  display: flex;
  justify-content: space-around;
}

.community-section__members {
  margin: 55px auto 0 auto;
  border-radius: 8px;
  font-family: 'Source Sans Pro', sans-serif, Arial;
  font-size: 12px;
}

.community-section__members:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.community-section__members__avatar {
  width: 150px;
  height: 150px;
  margin: 30px 82px 0 82px;
}

.community-section__members__info {
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 16px;
}

.community-section__members__name {
  margin: 40px auto 0 auto;
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #464547;
}

.community-section__members__position {
  text-align: center;
  margin-top: 11px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .community-section__container {
    margin-top: 50px;
    display: block;
  }

  .community-section__members {
    width: 315px;
  }

  .community-section__members:not(:first-child) {
    display: none;
  }
}
